{% extends "traces/trace/base.html" %}

{% load trace_helpers %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/timeline.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jqueryui-slider/jquery-ui-1.8.19.custom.css" />
{% endblock %}

{% block page_content %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v2.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqueryui-slider/jquery-ui-1.8.19.custom.min.js"></script>
    <script type="text/javascript">
        var attrgetter = function(name) {
            return function(obj) {
                return obj[name];
            };
        };
        draw_visualization = function(h, w, svg, start, end) {
            $.getJSON("{% url trace_timeline_call_data log.id %}", {
                start_percent: start / 100,
                end_percent: end / 100
            }, function(dataset) {
                console.log("data");
                var x = d3.scale.linear()
                    .domain([
                        d3.min(dataset, attrgetter("start_time")),
                        d3.max(dataset, attrgetter("end_time"))
                    ])
                    .range([0, w]);

                var y = d3.scale.linear()
                    .domain([0, d3.max(dataset, attrgetter("depth"))])
                    .range([0, h]);

                svg.selectAll("rect").remove();
                svg.selectAll("rect")
                    .data(dataset)
                    .enter()
                    .append("rect")
                    .attr("x", function(d) {
                        return x(d.start_time);
                    })
                    .attr("width", function(d) {
                        return x(d.end_time) - x(d.start_time);
                    })
                    .attr("y", function(d) {
                        return y(d.depth);
                    })
                    .attr("height", function(d) {
                        return y(1);
                    })
                    .attr("fill", attrgetter("color"))
                    .on("mouseover", function(d) {
                        $("#call-info #call-header #call-name").html(d.name);
                    })
                    .on("mouseout", function(d) {
                        $("#call-info #call-header #call-name").html("");
                    });
            })
        };

        $(function() {
            var h = 150;
            var w = 675;
            var svg = d3.select("#timeline #visualization").append("svg")
                .attr("height", h)
                .attr("width", w);
            $("#range-selector").slider({
                range: true,
                min: 0,
                max: 100,
                values: [0, 100],
                slide: function(event, ui) {
                    draw_visualization(h, w, svg, ui.values[0], ui.values[1]);
                }
            });
        });
    </script>
    <div id="timeline">
        <div id="visualization"></div>
        <div id="range-selector">

        </div>
        <div id="call-info">
            <div id="call-header">
                <code id="call-name"></code>
            </div>
        </div>
    </div>

{% endblock %}